/****** BASE STYLES ******/

body {
    color: #000000;
    font-family: Montserrat, sans-serif;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width{
    float: left;
    height: 40px;
    width: 600px;
}

.third-width {
    border-bottom: 1px solid #dedbdc;
    border-top: 1px solid #dedbdc;
    float: left;
    height: 240px;
    width: 362px;

}

.third-width-borders {
    border-left: 1px solid #dedbdc;
    border-right: 1px solid #dedbdc;
    height: 240px;
}

/****** HEADER ******/

header {
    margin: 0 0 50px 10px;
    padding: 50px 0 50px 10px;
   
}

header h1 { 
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 23px; 
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

header nav {
    float: right; 
    margin: 0 0 55px 0; 
}

header nav ul li {
    display: inline-block;
  
}

header nav ul li a {
    color: #77a466;
    font-size: 14px;
    padding: 5px 0 50px 15px; 
    text-decoration: none;
    text-transform: uppercase;
}

/****** WELCOME ******/

img {
    background: url('../img/hero.png');
    background-size: cover; 
    border-bottom: 4px solid #77a466;
    border-top: 4px solid #77a466;
    margin: 0 20px 0  0;  
}

#welcome {
    padding: 0 0 0 20px;
}

#welcome h2 {
    clear: both;
    color: #77a466;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    padding-top: 30px;
    text-transform: uppercase;
}

#welcome p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
}

/****** MAIN ******/

#info {
    padding: 20px 0 0 20px;
}

h3 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    margin: 27px 0;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

#special ul li {
    color: #77a466;
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

#review {
    padding: 0 0 0 40px;
    width: 402px;
}

#review p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    width: 330px;
} 

#contact {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 30px; 
}

/****** FOOTER ******/

footer h2 {
    clear: both;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    margin: 0 420px 0 420px;
    padding: 35px 0 35px;
    text-transform: uppercase;
}

footer h2 span {
    color: #77a466;
    font-family: font112379;
    text-transform: lowercase;
}    